<div class="center">
  <div
    style="
      display: flex;
      flex-direction: column;
      min-width: 40vh;
      row-gap: 24px;
    "
  >
    <div style="font-weight: 500; font-size: 20px">Hello Vijay....!!!</div>
    <mat-form-field  style="height: 55px">
      <mat-label>Enter your password</mat-label>
      <input type="password" matInput [(ngModel)]="enteredPassword" />
    </mat-form-field>
    <div style="color: red; margin-top: -24px" *ngIf="showError">
      Please enter correct password...
    </div>

    <button mat-raised-button color="primary" (click)="loginButtonclicked()">
      Login
    </button>
  </div>
</div>
